In [1]:
import pandas as pd

In [2]:
data_startup = pd.read_csv('50_Startups.csv')

In [5]:
data_startup.sample(50)

    R&D Spend  Administration  Marketing Spend       State     Profit
48     542.05        51743.15              NaN    New York   35673.41
14  119943.24       156547.42        256512.92     Florida  132602.65
10        NaN       110594.11        229160.95     Florida  146121.95
7   130298.13             NaN        323876.68     Florida  155752.60
19   86419.70       153514.11              NaN    New York  122776.86
36   28663.76       127056.21        201126.82     Florida   90708.19
28   66051.52       182645.56        118148.20     Florida  103282.38
40   28754.33       118546.05        172795.67  California   78239.91
49        NaN       116983.80         45173.06  California   14681.40
46    1315.46       115816.21        297114.46     Florida   49490.75
3   144372.41       118671.85        383199.62    New York  182901.99
44   22177.74       154806.14         28334.72  California   65200.33
18   91749.16       114175.79        294919.57     Florida  124266.90
15  114523.61       122616.84        261776.23    New York  129917.04
0   165349.20       136897.80        471784.10    New York  192261.83
13   91992.39       135495.07        252664.93  California        NaN
16   78013.11       121597.55        264346.06  California  126992.93
43   15505.73       127382.30         35534.17    New York   69758.98
17   94657.16       145077.58        282574.31    New York  125370.37
25   64664.71       139553.16        137962.62  California  107404.34
12   93863.75       127320.38        249839.44     Florida  141585.52
4   142107.34        91391.77        366168.42     Florida  166187.94
11  100671.96        91790.61        249744.55  California  144259.40
29   65605.48       153032.06        107138.38    New York  101004.64
6   134615.46       147198.87        127716.82  California  156122.51
34   46426.07       157693.92        210797.67  California   96712.80
8   120542.52       148718.95        311613.29    New York  152211.77
39   38558.51        82982.09        174999.30  California   81005.76
41   27892.92        84710.77        164470.71     Florida   77798.83
27   72107.60       127864.55        353183.81    New York  105008.31
24   77044.01             NaN        140574.81    New York  108552.04
5   131876.90        99814.71        362861.36    New York  156991.12
30   61994.48       115641.28         91131.24     Florida   99937.59
23        NaN       105751.03              NaN     Florida  108733.99
42   23640.93        96189.63        148001.11  California   71498.49
20   76253.86       113867.30        298664.47  California  118474.03
22   73994.56       122782.75        303319.26     Florida  110352.25
9   123334.88       108679.17        304981.62  California  149759.96
21   78389.47       153773.43        299737.29    New York  111313.02
47        NaN       135426.92              NaN  California   42559.73
2   153441.51       101145.55        407934.54     Florida  191050.39
35   46014.02        85047.44        205517.64    New York   96479.51
45    1000.23       124153.04          1903.93    New York   64926.08
33   55493.95       103057.49        214634.81     Florida   96778.92
1   162597.70       151377.59        443898.53  California  191792.06
32   63408.86       129219.61         46085.25  California   97427.84
38   20229.59        65947.93              NaN    New York   81229.06
37   44069.95             NaN        197029.42  California   89949.14
31        NaN       152701.92         88218.23    New York        NaN
26   75328.87       144135.98        134050.07     Florida  105733.54

In [11]:
print("\nAnalisis nilai kosong (NaN) pada setiap kolom:")
missing_data = data_startup.isna().sum()
print(missing_data)

Analisis nilai kosong (NaN) pada setiap kolom:
R&D Spend          5
Administration     3
Marketing Spend    5
State              0
Profit             2
dtype: int64

In [13]:
numeric_columns = data_startup.select_dtypes(include=['float64', 'int64']).columns
data_startup[numeric_columns] = data_startup[numeric_columns].fillna(data_startup[numeric_columns].mean())

In [14]:
print("\nKolom setelah mengisi nilai NaN dengan mean:")
missing_data_after_filling = data_startup.isna().sum()
print(missing_data_after_filling)

Kolom setelah mengisi nilai NaN dengan mean:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [15]:
print("\nDataFrame setelah mengisi nilai NaN dengan mean:")
print(data_startup.head())

DataFrame setelah mengisi nilai NaN dengan mean:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
data_startup.sample(50)

     R&D Spend  Administration  Marketing Spend       State         Profit
14  119943.240   156547.420000    256512.920000     Florida  132602.650000
49   76788.862   116983.800000     45173.060000  California   14681.400000
13   91992.390   135495.070000    252664.930000  California  111850.855208
6   134615.460   147198.870000    127716.820000  California  156122.510000
38   20229.590    65947.930000    223582.690222    New York   81229.060000
21   78389.470   153773.430000    299737.290000    New York  111313.020000
47   76788.862   135426.920000    223582.690222  California   42559.730000
30   61994.480   115641.280000     91131.240000     Florida   99937.590000
17   94657.160   145077.580000    282574.310000    New York  125370.370000
16   78013.110   121597.550000    264346.060000  California  126992.930000
23   76788.862   105751.030000    223582.690222     Florida  108733.990000
10   76788.862   110594.110000    229160.950000     Florida  146121.950000
43   15505.730   127382.300000     35534.170000    New York   69758.980000
37   44069.950   122790.158298    197029.420000  California   89949.140000
44   22177.740   154806.140000     28334.720000  California   65200.330000
32   63408.860   129219.610000     46085.250000  California   97427.840000
9   123334.880   108679.170000    304981.620000  California  149759.960000
1   162597.700   151377.590000    443898.530000  California  191792.060000
11  100671.960    91790.610000    249744.550000  California  144259.400000
27   72107.600   127864.550000    353183.810000    New York  105008.310000
46    1315.460   115816.210000    297114.460000     Florida   49490.750000
18   91749.160   114175.790000    294919.570000     Florida  124266.900000
40   28754.330   118546.050000    172795.670000  California   78239.910000
8   120542.520   148718.950000    311613.290000    New York  152211.770000
29   65605.480   153032.060000    107138.380000    New York  101004.640000
28   66051.520   182645.560000    118148.200000     Florida  103282.380000
39   38558.510    82982.090000    174999.300000  California   81005.760000
24   77044.010   122790.158298    140574.810000    New York  108552.040000
20   76253.860   113867.300000    298664.470000  California  118474.030000
25   64664.710   139553.160000    137962.620000  California  107404.340000
45    1000.230   124153.040000      1903.930000    New York   64926.080000
42   23640.930    96189.630000    148001.110000  California   71498.490000
36   28663.760   127056.210000    201126.820000     Florida   90708.190000
12   93863.750   127320.380000    249839.440000     Florida  141585.520000
33   55493.950   103057.490000    214634.810000     Florida   96778.920000
34   46426.070   157693.920000    210797.670000  California   96712.800000
4   142107.340    91391.770000    366168.420000     Florida  166187.940000
35   46014.020    85047.440000    205517.640000    New York   96479.510000
41   27892.920    84710.770000    164470.710000     Florida   77798.830000
0   165349.200   136897.800000    471784.100000    New York  192261.830000
15  114523.610   122616.840000    261776.230000    New York  129917.040000
2   153441.510   101145.550000    407934.540000     Florida  191050.390000
48     542.050    51743.150000    223582.690222    New York   35673.410000
7   130298.130   122790.158298    323876.680000     Florida  155752.600000
22   73994.560   122782.750000    303319.260000     Florida  110352.250000
26   75328.870   144135.980000    134050.070000     Florida  105733.540000
3   144372.410   118671.850000    383199.620000    New York  182901.990000
19   86419.700   153514.110000    223582.690222    New York  122776.860000
5   131876.900    99814.710000    362861.360000    New York  156991.120000
31   76788.862   152701.920000     88218.230000    New York  111850.855208

In [17]:
data_startup_encoded = pd.get_dummies(data_startup, columns=['State'])

In [18]:
print(data_startup_encoded.head())

   R&D Spend  Administration  Marketing Spend     Profit  State_California  \
0  165349.20       136897.80        471784.10  192261.83             False
1  162597.70       151377.59        443898.53  191792.06              True
2  153441.51       101145.55        407934.54  191050.39             False
3  144372.41       118671.85        383199.62  182901.99             False
4  142107.34        91391.77        366168.42  166187.94             False

   State_Florida  State_New York
0          False            True
1          False           False
2           True           False
3          False            True
4           True           False

In [19]:
data_startup.sample(7)

     R&D Spend  Administration  Marketing Spend       State     Profit
21   78389.470   153773.430000    299737.290000    New York  111313.02
41   27892.920    84710.770000    164470.710000     Florida   77798.83
17   94657.160   145077.580000    282574.310000    New York  125370.37
47   76788.862   135426.920000    223582.690222  California   42559.73
3   144372.410   118671.850000    383199.620000    New York  182901.99
44   22177.740   154806.140000     28334.720000  California   65200.33
24   77044.010   122790.158298    140574.810000    New York  108552.04

In [20]:
data_startup.sample(50)

     R&D Spend  Administration  Marketing Spend       State         Profit
34   46426.070   157693.920000    210797.670000  California   96712.800000
27   72107.600   127864.550000    353183.810000    New York  105008.310000
1   162597.700   151377.590000    443898.530000  California  191792.060000
6   134615.460   147198.870000    127716.820000  California  156122.510000
2   153441.510   101145.550000    407934.540000     Florida  191050.390000
5   131876.900    99814.710000    362861.360000    New York  156991.120000
20   76253.860   113867.300000    298664.470000  California  118474.030000
31   76788.862   152701.920000     88218.230000    New York  111850.855208
21   78389.470   153773.430000    299737.290000    New York  111313.020000
17   94657.160   145077.580000    282574.310000    New York  125370.370000
8   120542.520   148718.950000    311613.290000    New York  152211.770000
19   86419.700   153514.110000    223582.690222    New York  122776.860000
28   66051.520   182645.560000    118148.200000     Florida  103282.380000
12   93863.750   127320.380000    249839.440000     Florida  141585.520000
33   55493.950   103057.490000    214634.810000     Florida   96778.920000
49   76788.862   116983.800000     45173.060000  California   14681.400000
25   64664.710   139553.160000    137962.620000  California  107404.340000
29   65605.480   153032.060000    107138.380000    New York  101004.640000
11  100671.960    91790.610000    249744.550000  California  144259.400000
7   130298.130   122790.158298    323876.680000     Florida  155752.600000
23   76788.862   105751.030000    223582.690222     Florida  108733.990000
9   123334.880   108679.170000    304981.620000  California  149759.960000
30   61994.480   115641.280000     91131.240000     Florida   99937.590000
39   38558.510    82982.090000    174999.300000  California   81005.760000
43   15505.730   127382.300000     35534.170000    New York   69758.980000
42   23640.930    96189.630000    148001.110000  California   71498.490000
15  114523.610   122616.840000    261776.230000    New York  129917.040000
40   28754.330   118546.050000    172795.670000  California   78239.910000
22   73994.560   122782.750000    303319.260000     Florida  110352.250000
4   142107.340    91391.770000    366168.420000     Florida  166187.940000
35   46014.020    85047.440000    205517.640000    New York   96479.510000
41   27892.920    84710.770000    164470.710000     Florida   77798.830000
24   77044.010   122790.158298    140574.810000    New York  108552.040000
46    1315.460   115816.210000    297114.460000     Florida   49490.750000
47   76788.862   135426.920000    223582.690222  California   42559.730000
18   91749.160   114175.790000    294919.570000     Florida  124266.900000
14  119943.240   156547.420000    256512.920000     Florida  132602.650000
48     542.050    51743.150000    223582.690222    New York   35673.410000
44   22177.740   154806.140000     28334.720000  California   65200.330000
16   78013.110   121597.550000    264346.060000  California  126992.930000
10   76788.862   110594.110000    229160.950000     Florida  146121.950000
37   44069.950   122790.158298    197029.420000  California   89949.140000
3   144372.410   118671.850000    383199.620000    New York  182901.990000
38   20229.590    65947.930000    223582.690222    New York   81229.060000
13   91992.390   135495.070000    252664.930000  California  111850.855208
36   28663.760   127056.210000    201126.820000     Florida   90708.190000
26   75328.870   144135.980000    134050.070000     Florida  105733.540000
0   165349.200   136897.800000    471784.100000    New York  192261.830000
32   63408.860   129219.610000     46085.250000  California   97427.840000
45    1000.230   124153.040000      1903.930000    New York   64926.080000

In [21]:
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

In [22]:
data_startup.to_csv('50_Startups_with_tax.csv', index=False)

In [24]:
data_startup.sample(50)

,R&D Spend,Administration,Marketing Spend,State,Profit,Tax
44,22177.740,154806.140000,28334.720000,California,65200.330000,12417.059500
7,130298.130,122790.158298,323876.680000,Florida,155752.600000,30120.971915
34,46426.070,157693.920000,210797.670000,California,96712.800000,23260.219500
2,153441.510,101145.550000,407934.540000,Florida,191050.390000,35006.524000
26,75328.870,144135.980000,134050.070000,Florida,105733.540000,19195.979500
8,120542.520,148718.950000,311613.290000,New York,152211.770000,30627.200500
1,162597.700,151377.590000,443898.530000,California,191792.060000,39353.409000
13,91992.390,135495.070000,252664.930000,California,111850.855208,25000.542760
14,119943.240,156547.420000,256512.920000,Florida,132602.650000,27283.149500
22,73994.560,122782.750000,303319.260000,Florida,110352.250000,26822.713000
11,100671.960,91790.610000,249744.550000,California,144259.400000,24289.728000
40,28754.330,118546.050000,172795.670000,California,78239.910000,18479.081500
19,86419.700,153514.110000,223582.690222,New York,122776.860000,24993.683011
23,76788.862,105751.030000,223582.690222,Florida,108733.990000,21903.385511
27,72107.600,127864.550000,353183.810000,New York,105008.310000,29302.833500
49,76788.862,116983.800000,45173.060000,California,14681.400000,8841.913000
16,78013.110,121597.550000,264346.060000,California,126992.930000,25646.827000
46,1315.460,115816.210000,297114.460000,Florida,49490.750000,23121.071000
37,44069.950,122790.158298,197029.420000,California,89949.140000,20488.435915
5,131876.900,99814.710000,362861.360000,New York,156991.120000,30983.359500
35,46014.020,85047.440000,205517.640000,New York,96479.510000,19352.229500
30,61994.480,115641.280000,91131.240000,Florida,99937.590000,15335.505500
31,76788.862,152701.920000,88218.230000,New York,111850.855208,17638.550260
43,15505.730,127382.300000,35534.170000,New York,69758.980000,11633.772500
45,1000.230,124153.040000,1903.930000,New York,64926.080000,9549.152500
12,93863.750,127320.380000,249839.440000,Florida,141585.520000,25937.267000
17,94657.160,145077.580000,282574.310000,New York,125370.370000,27651.113000
24,77044.010,122790.158298,140574.810000,New York,108552.040000,18595.850415
42,23640.930,96189.630000,148001.110000,California,71498.490000,15784.461500
28,66051.520,182645.560000,118148.200000,Florida,103282.380000,20203.807000
48,542.050,51743.150000,223582.690222,New York,35673.410000,15549.962511
21,78389.470,153773.430000,299737.290000,New York,111313.020000,28241.187000
32,63408.860,129219.610000,46085.250000,California,97427.840000,13636.635000
9,123334.880,108679.170000,304981.620000,California,149759.960000,28171.037500
0,165349.200,136897.800000,471784.100000,New York,192261.830000,40047.186500
38,20229.590,65947.930000,223582.690222,New York,81229.060000,18537.984011
20,76253.860,113867.300000,298664.470000,California,118474.030000,26550.290000
39,38558.510,82982.090000,174999.300000,California,81005.760000,16949.357500
36,28663.760,127056.210000,201126.820000,Florida,90708.190000,20944.561000
10,76788.862,110594.110000,229160.950000,Florida,146121.950000,24293.850500
29,65605.480,153032.060000,107138.380000,New York,101004.640000,18058.754000
47,76788.862,135426.920000,223582.690222,California,42559.730000,20078.467011
18,91749.160,114175.790000,294919.570000,Florida,124266.900000,26668.113000
6,134615.460,147198.870000,127716.820000,California,156122.510000,21551.910000
4,142107.340,91391.770000,366168.420000,Florida,166187.940000,31187.406500
25,64664.710,139553.160000,137962.620000,California,107404.340000,19246.006000
41,27892.920,84710.770000,164470.710000,Florida,77798.830000,16349.015500
15,114523.610,122616.840000,261776.230000,New York,129917.040000,25715.505500
33,55493.950,103057.490000,214634.810000,Florida,96778.920000,20723.561000
3,144372.410,118671.850000,383199.620000,New York,182901.990000,34238.673000